# dependencies
/node_modules
.aws/*


# Local
src/**/*.plan
src/**/bin/
src/**/obj/
src/.vs/
src/**/*.user

tests/**/*.plan
tests/**/bin/
tests/**/obj/
tests/.vs/
tests/**/*.user
**/*ncrunch*

/dist

docker-compose.yml



