@page "/holidayoverview"
@using BreakingNomad.Ui.Components.Data

<h2>Upcoming Long Weekends</h2>

@if (_upcomingWeekends == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{ 
  <div class="row mt-4">

    @foreach (var weekend in _upcomingWeekends)
    {
      <div class="col-sm-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">@weekend.Name</h5>
                        <p class="card-text">@weekend.StartDate.ToString("dddd dd/MMM") - @weekend.EndDate.ToString("dddd dd/MMM") @weekend.Days days</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    }

  </div>
  
}


@code {
  private List<HolidayLookup.Weekend>? _upcomingWeekends;


  protected override async Task OnInitializedAsync()
  {
    var publicHolidays = await NagerDateApi.GetPublicHolidaysAsHolidayRecords("za", DateTime.Now.Year);
    _upcomingWeekends = new HolidayLookup(publicHolidays).GetUpcomingLongWeekends(DateTime.Now).ToList();
  }


}
